body {
  background-color: black;
  font-family: 'Press Start 2P', sans-serif;
  color: white;
  margin: 0 auto;
  padding: 10px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  margin-top: 5px;
  border-bottom: dashed white 5px;
  padding: 0 0 30px 0;
}

footer {
  border-top: dashed white 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  margin: 30px auto;
}

.instructions {
  width: 600px;
  margin: 0 auto;
  text-align: justify;
  border: solid white 2px;
  padding: 0 80px 5px 80px;
}

h2 {
  font-size: 16px;
  margin: -15px auto;
}

h3 {
  text-align: center;
  font-size: 20px;
}

p {
  font-size: 12px;
  line-height: 18px;
}


/*  ////////////////////// INSIDE GAME BOARD //////////////////////////  */

.gameBoard {
  width: 600px;
  height: 350px;
  border: solid white 8px;
  margin: 30px auto;
}

.rods {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#rodRight {
  background-color: white;
  width: 15px;
  height: 180px;
  margin: 30px auto;
  position: relative;
  bottom: -100px;
}

#rodMiddle {
  background-color: white;
  width: 15px;
  height: 180px;
  margin: 30px auto;
  position: relative;
  bottom: -100px;
}

#rodLeft {
  background-color: white;
  width: 15px;
  height: 180px;
  margin: 30px auto;
  position: relative;
  bottom: -100px;
}

#bottomLine {
  background-color: white;
  width: 450px;
  height: 15px;
  position: relative;
  bottom: -55px;
  left: 75px;

}

#selectorBox {
  border: 2px solid rgba(21, 255, 0, 1);
  width: 180px;
  height: 320px;
  margin: 10px;
  box-shadow: 0 0 20px rgba(21, 255, 0, .8);
  position: relative;
  bottom: 250px;
  left: 0px;
}

#disc1 {
  background-color: rgba(255, 254, 0, 1);
  box-shadow: 0 0 20px rgba(255, 254, 0, .8);
  width: 40px;
  height: 20px;
}

#disc2 {
  background-color: rgba(0, 245, 255, 1);
  box-shadow: 0 0 20px rgba(0, 254, 255, .8);
  width: 70px;
  height: 20px;
}

#disc3 {
  background-color: rgba(0, 55, 255, 1);
  box-shadow: 0 0 20px rgba(0, 55, 255, .8);
  width: 100px;
  height: 20px;
}

#disc4 {
  background-color: rgba(255, 0, 238, 1);
  box-shadow: 0 0 20px rgba(255, 0, 238, .8);
  width: 130px;
  height: 20px;
}

#disc5 {
  background-color: rgba(255, 8, 0, 1);
  box-shadow: 0 0 20px rgba(255, 8, 0, .8);
  width: 160px;
  height: 20px;
}
